In [1]:
prices_a = [8.70, 8.91, 8.71]

In [5]:
prices_a[1:]

[8.91, 8.71]

In [6]:
prices_a[:-1]

[8.7, 8.91]

In [7]:
import numpy as np

In [8]:
prices_a = np.array([8.70, 8.91, 8.71])
prices_a

array([8.7 , 8.91, 8.71])

In [10]:
prices_a[1:]/prices_a[:-1] -1

array([ 0.02413793, -0.02244669])

In [11]:
import pandas as pd

In [17]:
prices = pd.DataFrame({"BLUE": [8.70, 8.91, 8.71, 8.43, 8.73]
                        , 
                        "ORANGE": [10.66, 11.08, 10.71, 11.59, 12.11]})

In [18]:
prices

   BLUE  ORANGE
0  8.70   10.66
1  8.91   11.08
2  8.71   10.71
3  8.43   11.59
4  8.73   12.11

In [19]:
prices.iloc[1:]/prices.iloc[:-1] -1

   BLUE  ORANGE
0   NaN     NaN
1   0.0     0.0
2   0.0     0.0
3   0.0     0.0
4   NaN     NaN

In [20]:
prices.iloc[1:].values/prices.iloc[:-1] -1

       BLUE    ORANGE
0  0.024138  0.039400
1 -0.022447 -0.033394
2 -0.032147  0.082166
3  0.035587  0.044866

In [21]:
prices.iloc[1:]/prices.iloc[:-1].values -1

       BLUE    ORANGE
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

In [23]:
prices/prices.shift(1) -1

       BLUE    ORANGE
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866